body {
  width: 100vw;
  height: 100vh;
  background-image: url('img.png');
  background-size: cover;    /* Scales image to fill container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
}
