<header [ngClass]="{ 'visible': scrolled }">
  <a id="left" href="hack.txt" download="hack.txt"><img src="N2i_logo-color.png" alt="Logo nuit"></a>
  <app-gamebtn></app-gamebtn>
  <a id="right" href="https://youtu.be/xvFZjo5PgG0?si=cBjUCjTrMwhM87gk"><img src="hq720.jpg" alt="cabane des goblins"></a>
</header>

<p id="liens">https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DEIjnAJWZTUk&psig=AOvVaw04nm_mihtceGeufP6_-waP&ust=1764973253703000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwjoq-_v-6SRAxWFmicCHXGiCQkQjRx6BAgAEBo</p>
