/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Connection';
  src: url('/fonts/Connection-arMJ.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Connection';
  src: url('/fonts/ConnectionBold-ER1g.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body{
  margin:0;
}
