.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  position: absolute;
  top : 20%;
  left: 25%;
  display: flex;
  flex-direction: column;
  width: calc(2 * 50px + 10px);
  margin: 0 auto;
}

.app img {
  margin-top: 20%;
}

.app img:nth-child(odd) {
  align-self: flex-start;
}

.app img:nth-child(even) {
  margin-left: 20%;
  align-self: flex-end;
}

#store {
  position: absolute;
  top:20%;
  right: 20%;
}
