:host {
  display: block;
  height: 99%;
  width: 100%;
  overflow: hidden;
  background: black;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.9%;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
