/* From Uiverse.io by arthur_6104 */
.box-button {
  cursor: pointer;
  border: 4px solid black;
  background-color: gray;
  padding: 7px 0;
  padding-bottom: 10px;
  transition: 0.1s ease-in-out;
  user-select: none;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #dddddd;
  border: 4px solid #fff;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button span {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.box-button:active {
  padding: 0;
  margin-bottom: 10px;
  transform: translateY(6%);
}

.box-button:hover {
  background-color: #3a9600;
  border: 4px solid #185500;
  color: #fff;
}

.box-button:hover .button {
  background-color: #4cc800;
}
