.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

app-cipherbtn {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;

}
