.bg {
  width: 100%;
  height: 100vh;
  background-image: url('../../../../public/BG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Candara';
  font-size: 1.2rem;
}

.answer:focus{
  color: white;
  font-family: 'Candara';
}

.input{
  display: flex;
  flex-direction: row;
  color: white;
  font-family: 'Candara';
  font-size: 1.2rem;
}
.answer{
  border-radius: 5px;
  border: white 1px solid;
  margin-left : 1vw;
  margin-right : 1vw;
  background-color: transparent;
  padding: 0.3vw;
}

.answer::placeholder{
  color: white;
  font-style: italic;
}

.question{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1.5vh;
}

.hidden{
  display: none;
}

.questionnaire{
  margin-top: 10vh;
}

label{
  color: white;
  font-family: 'Candara';
  font-size: 1.5rem;
}

.submitBtn{
  background-color: rgba(128, 128, 128, 0.288);
  color: white;
  margin-top: 2vh;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 0.5vw;
  backdrop-filter: blur(2);
  border: transparent solid 1px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.submitBtn:hover{
  background-color: rgba(14, 183, 20, 0.288);
  transform: scale(1.05)
}

.types{
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 1.2vh;
  border-radius: 10px;
  border: white 1px solid;
}

.hint-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

app-hintbtn {
  width: 10%;
  height: 10%;
  display: block;
}

app-timer {
  position: fixed;
  top: 1%;
  left: 1%;
  font-size: 1.5rem;
}
